                                        

.TitleImageTextContents
{
    min-width: 200px;
    max-width: 400px;
    flow-children: down;
}

#TitleLabel
{
	font-family: Stratum2;
    font-size: 24px;
    color: white;
    font-weight: bold;
    horizontal-align: center;
    text-align: center;
}

#Image
{
    horizontal-align: center;
    margin: 8px;
}

#TextLabel
{
	font-family: Stratum2;
    font-size: 20px;
	font-weight: medium;
    color: white;
    horizontal-align: center;
    text-align: center;
}
