.popup
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	pre-transform-scale2d: 1;
	transform: translateY( 0px );
	min-width: 0px;
	opacity: 1.0;
	border-radius: 0px;
	flow-children: down;
	padding: 0px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: .2s;
	transition-timing-function: ease-in;
	background-color: blurBackgroundColor;
}
.popup.PopupPanel
{
	padding-bottom: 0px;
}
.popup.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
}

.btn
{

	flow-children:right;
	vertical-align: center;
	margin: 12px 12px 12px 12px;
	min-height: 72px;
    margin-right: 12px;
	width: fit-children;
						   
	background-color: rgba(0, 0, 0, 0.151);
	border-radius: 3px;

	transition-property: background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	
}


.btn:hover:not(.btn:disabled)
{
	background-color: rgba(0, 0, 0, 0.418);
	
	transition-property: background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.btn:disabled 
{
	wash-color: disabledColor;
}

.btn Label,
ToggleButton.btn Label,
ToggleButton.btn:selected Label
{
	font-size: 16px;
	font-family: stratum2Font;
	font-weight: medium;
	color:white;
	text-overflow: shrink;
	padding-left: 8px;
	padding-right: 8px;
}

.btn Image
{
	vertical-align: center;
	margin: 0px 8px;
}