                                     
CSGOIntroMovie
{
	width: 100%;
	height: 100%;
	sound: "UIPanorama.IntroLogo";
}

#IntroMoviePlayer {
    width: 1920px;
    height: 1080px;
    overflow: noclip;
    opacity: 0; 
    horizontal-align: center;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}


.AspectRatio21x9 #IntroMoviePlayer
{
	width: 2520px;
	height: 1080px;
	transform: scaleY( 1.3 );
	overflow: noclip;
}

