                             

CSGOHud,
#PopupManager,
#TooltipManager, 
#ContextMenuManager
{
	width: 100%;
	height: 100%;
}


#HudElemBlur {
	visibility: collapse;
	width: 100%;
	height: 100%;
	blur: fastgaussian( 3, 3, 3 );
	visibility: visible;

	-s2-mix-blend-mode: opaque;
}


.HudBlur
{
	width: 100%;
	height: 100%;

	-s2-mix-blend-mode: opaque;
	border-radius: 4px;
	blur: fastgaussian( 2, 2, 4 );
}

.HudBlurLess
{
	width: 100%;
	height: 100%;

	-s2-mix-blend-mode: opaque;
	border-radius: 4px;
	blur: fastgaussian( 1, 1, 3 );
}

@keyframes 'blur-fade-in'
{
	from
	{
		blur: fastanimgaussian( 0, 0, 0 );
	}

	to
	{
		blur: fastgaussian( 5, 5, 4 );
	}
}

.eom-blur-fade-in {

	animation-name: blur-fade-in;
	animation-duration: 0.65s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;

	-s2-mix-blend-mode: opaque;
	blur: fastgaussian( 5, 5, 4 );
	border-radius: 4px;
}



#HudTopLeft
{
	width: 100%;
	height: 100%;
    horizontal-align: left;
    vertical-align: top;
    flow-children: down;
}

#HudTopCenter 
{
	horizontal-align: center;
    	vertical-align: top;
	opacity: 1.0;
	margin-top: 2px;
	flow-children: down;
    	width: 100%;
	height: 100%;
}

#HudBottomCenter 
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
	height: 43%;
	opacity: 1.0;
	margin-bottom: 2px;
	flow-children: down;
}
#HudBottomGradient
{
    background-color: gradient( linear, 0% 100%, 0% 50%, from( rgba(0,0,0,0.8) ), to( rgba(0,0,0,0) ) );
    width: 100%;
    height: 600px;
    vertical-align:bottom;
    opacity: 1;
}

#HudLowerLeft
{
	padding-right: 750px;
    horizontal-align: center;
    vertical-align: bottom;
	padding-bottom: 10px;
                                                                                                                                         
}
#HudLowerLeftChatStatus
{
    horizontal-align: left;
    vertical-align: bottom;
	padding-bottom: 10px;
                                                                                                                                         
}

#HudTimerPanel Label
{
	color: white;
	horizontal-align: center;
	font-size: 26px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#HudTimerPanel Label.TimerAlert
{
	color: red;
}

#HudTopRight
{
    horizontal-align: right;
    vertical-align: top;
    flow-children: down;
}

#HudCenter
{
    width: 100%;
    height: 100%;
    margin-top: 300px;
    horizontal-align: center;
    vertical-align: top;
    flow-children: down;
}

#HudRadio 
{
	position: 0px 460px 0px; 
}

#HudBottomRight
{
	padding-left: 550px;
	horizontal-align: center;
	vertical-align: bottom;
    flow-children: down;
    height:100%;
    width:100%;
	padding-bottom: 5px;
}
#HudBottomRightSelection
{
	horizontal-align: right;
	vertical-align: bottom;
    flow-children: down;
    height:100%;
    width:100%;
}

#HudWeaponPanel
{
	horizontal-align: center;
	vertical-align: bottom;
}

#HudWeaponSelection
{
	horizontal-align: right;
	vertical-align: bottom;
}

#HudInWorld,
#HudDamageIndicator,
#HudReticle
{
	width: 100%;
	height: 100%;
}

#HudTeamCounter
{
	width: 1024px;
	height: 250px;
	
	horizontal-align: center;
	opacity: 1.0;
	margin-top: 2px;
	flow-children: down;
}

#HudVote
{
	horizontal-align: left;
	vertical-align: center;
}
