.rating-number {
    font-family: "Stratum2";
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    margin-left: 50px;
    text-align: left;
    vertical-align: middle;
}
/* dont ask