.mainmenu-left-column
{
    padding: 64px 0px 16px 16px;
    height: fit-children;
    vertical-align: bottom;
    width: 620px;
    flow-children: up;
    visibility: collapse;
	transform: translateX(0);
    opacity: 0; 
    transition-property: opacity, transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

.mainmenu-left-column.hidden
{
    transform: translateX(-100%);
}


